body {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
}

.text1__slider {
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.text1__slide-track {
    display: flex;
    flex-direction: row;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(200px * 16);
    /*filter: blur(11px);*/
}

.text1__slider.text1__slide {
    width: 200px;

}

.text1__slider.text1__slider img {
    width: 100%;

}

.text1__slide {
    display: flex;
    flex-direction: row;

}

.text1__text {
    margin: 5px 10px;
    width: 480px;
    color: white;
    font-size: 100px;
    text-align: center;
    overflow: hidden;
    box-sizing: content-box;

}

@keyframes scroll {

    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 8));
        transform: translateX(calc(-200px * 8));
    }



}


/*PROJECTS CARDS*/

.projects__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects__card {
    position: relative;
    width: 500px;
    height: 230px;
    padding: 15px;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.projects__title {
    z-index: 3;
    position: absolute;
    bottom: 25px;
    right: 130px;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    pointer-events: none;
    transition: 200ms ease-in-out;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);


}

.projects__info {
    z-index: 3;
    position: absolute;
    bottom: 30px;
    right: 130px;
    width: 150px;
    font-size: 12px;
    opacity: 0;
    font-weight: 700;
    color: #ffffff;
    text-align: right;
    letter-spacing: 1px;
    transition: 200ms ease-in-out;

}


.projects__arrow {
    z-index: 3;
    position: absolute;
    top: 60px;
    right: 35px;
    color: #333333;
    font-size: 12px;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    transition: 200ms ease-in-out;
    opacity: 1;

}

.projects__pic {
    background-size: cover;
    z-index: 4;
    width: 395px;
    height: 200px;
    border-radius: 12px;
    filter: grayscale(100%);
}

.projects__container .card1 .projects__pic {
    background-image: url(../img/projects1.png);
    transition: 300ms ease-in-out;

}

.projects__container .card2 .projects__pic {
    background-image: url(../img/projects2.png);
    transition: 300ms ease-in-out;

}

.projects__container .card3 .projects__pic {
    background-image: url(../img/projects3.png);
    transition: 300ms ease-in-out;

}



.projects__button {
    position: absolute;
    right: 30px;
    bottom: 40px;
    width: 30px;
    height: 30px;
    background-color: #da4d1d;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    opacity: 1;
    transition: 30ms ease-in-out;
}

.projects__card:hover button {
    transform: scale(16.5);
    opacity: 0.5;
}

.projects__card:hover h2 {
    bottom: 80px;
    right: 50px;

}

.projects__card:hover p {
    opacity: 1;
    right: 60px;
}


.projects__card:hover span {
    opacity: 0;
    top: 80px;
}

.projects__card:hover .projects__pic {
    filter: grayscale(0);
    width: 470px;
}



.projects__container .card2 button {
    background-color: #2b26c3;
}



.projects__container .card3 button {
    background-color: #ffff00;
}